*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
/* client section */
.client-left-text h6{
    color: #0000ffb5;
}
.client-left-text h1{
    position: relative;
}
.client-left-text h1::after{
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    height: 2px;
    width: 40px;
    background-color: blue;
}
.client-left-text p{
    padding-top: 10px;
}
.client-pic{
    height: 165px;
    width: 254px;
    border: 1px solid #111;
    justify-content: center;
    align-items: center;
    display: flex;
}
.client-pic:hover{
    background-color: #d3ddeb;
}
/* blog-section */
.blog-text h6 {
	color: #007cff;
}
.blog-text h1 {
    position: relative;
}
.blog-text h1::before {
	content: "";
    position: absolute;
    top: 53px;
    left: 529px;
    height: 2px;
    width: 58px;
    background-color: blue;
}
.blog-pic {
	margin-left: 15px;
}
.blog-pic h4{
    font-size: 22px;
    margin-top: -22px;
}
.blog-inner {
	background-color: #3763eb;
	height: 52px;
	width: 189px;
	position: relative;
	top: -80px;
	left: 153px;
	border-radius: 30px;
}
.blog-inner img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 7px;
}
.blog-inner h5 {
	font-size: 14px;
	line-height: 62px;
	position: relative;
	left: 24px;
	color: white;
	top: -6px;
}
.blog-inner .author-pic p{}
/* footer-section */
.footer-section{
    background-color: #081828;
    
}
.footer-img img{
    width: 150px;
    margin-left: 8px;
}
.footer-img p{
    color: white;
    padding: 28px 10px;
}
.social-icon ul{
    list-style: none;
    display: block;
    color: white;
    margin-left: -33px;
}
.social-icon ul li{
    display: inline-block;
    padding: 0 10px;
}
.footer-div h6{
    color: white;
    margin-left: 42px;
    position: relative;
}
.footer-div h6::after {
	content: "";
	position: absolute;
	top: -6px;
	left: -12px;
	height: 30px;
	width: 2px;
	background-color: blue;
}
.footer-div ul{
    list-style: none;
    color: #a2a7b3;
}
.footer-div ul li{
    padding: 10px 0;
}
hr {
	color: #ddd;
	height: 2px !important;
}
.footer-section p{
    color: white;
    font-size: 13px;
    text-align: center;
}